agm-map {
  height: 90vh;
}

mat-nav-list {
  padding-top: 0px;
}

mat-card {
  height: 90vh;
}

.image {
  height: 100%;
  width: 100%;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  text-shadow: 4px 4px 2px #000000;
}
