<div fxLayout="row" fxLayoutAlign="center">
  <mat-card fxFlex="45">
    <mat-card-header>
      <mat-card-title>
        <h2>
          Emma Stone
        </h2>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Email: {{user.email}}</p>
      <p>UID: {{user.uid}}</p>
      <hr>
    </mat-card-content>
    <mat-card-footer fxLayout="row">
      <button class="button"
              mat-raised-button
              color="accent"
              type="button"
              (click)="changeEmail()">
        Change email
      </button>
      <button class="button"
              mat-raised-button
              color="accent"
              type="button"
              (click)="changePassword()">
        Change password
      </button>
      <button class="button"
              mat-raised-button
              color="accent"
              type="button"
              (click)="openDialog()">
        Delete
      </button>
    </mat-card-footer>
  </mat-card>
</div>
