<div fxLayout="row" fxLayoutAlign="center">
  <mat-card fxFlex="45">
    <mat-card-header>
      <mat-card-title>
        <h2>
          Emma Stone
        </h2>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Email: emma.stone@hollywood.com</p>
      <p>UID: Q1B03EfIfxVpscLWGVyGvhKvX1g8</p>
      <hr>
    </mat-card-content>
    <mat-card-footer fxLayout="row">
      <button class="button"
              mat-raised-button
              color="accent"
              type="button">
        Edit info
      </button>
      <p fxFlex="*"></p>
      <button class="button"
              mat-raised-button
              color="accent"
              type="button"
              (click)="delete()">
        Delete
      </button>
    </mat-card-footer>
  </mat-card>
</div>
