<mat-sidenav-container class="main-container">
  <mat-sidenav mode="side" position="end" [opened]="navBarOpen" style="background-color: coral">
    <mat-nav-list>

      <a mat-list-item routerLink="/"><app-margin-icon [iconName]="'home'"></app-margin-icon> Front Page</a>
      <a mat-list-item routerLink="/map"><app-margin-icon [iconName]="'map'"></app-margin-icon> Map</a>
      <a mat-list-item routerLink="/albums"><app-margin-icon [iconName]="'folder'"></app-margin-icon> Albums</a>

      <hr>
      <a mat-list-item routerLink="/login">
        <app-margin-icon [iconName]="'supervisor_account'"></app-margin-icon>
        Sign Out</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div fxLayout="row">
      <span fxFlex="33"></span>
      <h2 fxFlex="33" style="text-align: center">Welcome to BALLZ</h2>
      <span fxFlex="30"></span>
      <button mat-mini-fab
              style="align-self: right"
              color="accent"
              (click)="toggleNav()">
        <app-margin-icon [iconName]="'list'"></app-margin-icon>
      </button>
    </div>
    <div style="margin-left: 10px">

      <router-outlet></router-outlet>

    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
