<mat-sidenav-container class="main-container">
  <mat-sidenav class="sidenav" mode="side" position="end" [opened]="navBarOpen">
    <mat-nav-list>

      <a mat-list-item routerLink="/"><app-margin-icon [iconName]="'home'"></app-margin-icon> Front Page</a>
      <a *ngIf="authenticated" mat-list-item routerLink="/albums"><app-margin-icon [iconName]="'photo'"></app-margin-icon> Pictures</a>
      <a *ngIf="authenticated" mat-list-item routerLink="/profile"><app-margin-icon [iconName]="'account_circle'"></app-margin-icon> Profile</a>

      <hr>
      <a *ngIf="!authenticated" mat-list-item routerLink="/login">
        <app-margin-icon [iconName]="'exit_to_app'"></app-margin-icon>
        Sign In</a>
      <a *ngIf="authenticated" mat-list-item (click)="logout()">
        <app-margin-icon [iconName]="'exit_to_app'"></app-margin-icon>
        Sign out</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <div fxLayout="row" class="title-row">
      <span fxFlex="33"></span>
      <h1 class="title" fxFlex="33">Ball Finder</h1>
      <span fxFlex="30"></span>
      <button mat-mini-fab
              class="btn-nav"
              color="accent"
              (click)="toggleNav()">
        <app-margin-icon [iconName]="'menu'"></app-margin-icon>
      </button>
    </div>
    <router-outlet></router-outlet>
    <hr>
    <p class="footer">Copyright: SoSoMafioso</p>
  </mat-sidenav-content>
</mat-sidenav-container>
