.main-container {
  height: 100vh;
}

.sidenav {
  width: 250px;
  background: #cad6d7;
}

.content {
  margin-left: 10px;
  margin-right: 10px;
  background: white;
}

.btn-nav {
  align-self: right;
  margin-right: 10px;
  margin-top: 10px;
}

.title-row {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 5px;
}

.footer {
  text-align: center;
  font-size: 12px;
  font-style: oblique;
}
