<div fxLayout="row" fxLayoutAlign="center">
  <mat-card fxFlex="45">
    <mat-card-header>
      <mat-card-title>
        <h2>
          Emma Stone
        </h2>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="updateForm" novalidate>
        <div fxLayout="row">
          <p fxFlex="25">UID:</p>
          <p>{{user?.uid}}</p>
        </div>
        <div fxLayout="row">
          <p fxFlex="25"> Email:</p>
          <input matInput placeholder="{{user?.email}}" formControlName="email">
        </div>
        <div fxLayout="row">
          <p fxFlex="25">Password:</p>
          <input matInput placeholder="" type="password" formControlName="password">
        </div>
      </form>
      <hr>
    </mat-card-content>
    <mat-card-footer fxLayout="row">
      <button class="button"
              mat-raised-button
              color="accent"
              type="button"
              (click)="cancel()">
        Cancel
      </button>
      <p fxFlex="*"></p>
      <button class="button"
              mat-raised-button
              color="accent"
              type="button"
              [disabled]="updateForm.invalid"
              (click)="reauthenticateUser()">
        Save
      </button>
    </mat-card-footer>
  </mat-card>
</div>
