<div fxLayout="row" fxLayoutAlign="center">
  <mat-card fxFlex="45">
    <mat-card-header>
      <mat-card-title>
        <h2>
          Emma Stone
        </h2>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form fxLayout="row" [formGroup]="updateForm" novalidate>
        <p>Email:</p>
        <input matInput placeholder=" {{user?.email}}" formControlName="email">
      </form>
      <div fxLayout="row">
        <p>UID:</p>
        <input matInput value=" {{user?.uid}}" [disabled]="true">
      </div>
      <hr>
    </mat-card-content>
    <mat-card-footer fxLayout="row">
      <button class="button"
              mat-raised-button
              color="accent"
              type="button"
              (click)="cancel()">
        Cancel
      </button>
      <p fxFlex="*"></p>
      <button class="button"
              mat-raised-button
              color="accent"
              type="button"
              (click)="updateEmail()">
        Save
      </button>
    </mat-card-footer>
  </mat-card>
</div>
