<div class="container shell">
  <div class="row">
    <div class="col-lg-4 col-sm-6 col-xs-12" *ngFor="let ball of ballsArray">
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>Spotted: {{ball?.time}}</mat-card-title>
        <mat-card-subtitle>ID: {{ball?.uid}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="ball?.imgUrl" alt="Photo of ball">
      <mat-card-content>
        <p>Longitude: {{ball?.longitude}}</p>
        <p>Latitude: {{ball?.latitude}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-stroked-button color="warn" (click)="deleteBall(ball)">
          Delete
        </button>
      </mat-card-actions>
    </mat-card>
    </div>
  </div>
</div>
